/* Global Styles */
* {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --text-small: 14px;
  --text-medium: 35px;
  --text-large: 70px;
  --styling-font-max: "Sofia";
  --styling-font-medium: "Great Vibes", cursive;
  --heading-font: "Playwrite US Modern", serif;
}

/* heading rule */
.remarks-content>h3,
.location>h2,
.gift-content h2,
.notes h2 {
  font-family: var(--heading-font);
}

.location>h2,
.gift-content h2,
.notes h2 {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

body {
  height: 100%;
  width: 100%;
}

/* Main */
main {
  background-image: url("/assets/header-fix.png"), url("/assets/bg.png");
  background-repeat: no-repeat, repeat;
  background-position: top left, top left;
  background-size: contain, cover;
  position: relative;
}

/* Container */
.container {
  margin: auto 19%;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.9rem;
}

.container .row {
  flex: 1 1 1rem;
  text-align: center;
}

.container .row img {
  width: 380px;
  height: 400px;
  padding: 40px;
}

/* Header */
header {
  padding: 30px 0;
}

.top-w-name {
  text-align: center;
  line-height: 2rem;
  width: 100%;
  font-size: 25px;
  animation-duration: 2s;
}

.top-w-name img {
  height: auto;
  width: 100%;
  max-width: 50%;
  border-radius: 10px;
}

/* Content Name */
.content-name {
  line-height: 3rem;
}

.content-name h2 {
  font-size: var(--text-medium);
  font-family: var(--styling-font-medium);
}

.content-name p {
  opacity: 0.4;
  line-height: 1.2rem;
}

.content-name .animate__fadeInLeft,
.content-name .animate__fadeInRight {
  animation-duration: 2s;
}

.img-content {
  height: auto;
  padding: 4% 19%;
  justify-content: center;
}

/* Remarks Content */
.remarks-content {
  line-height: 1.5rem;
}

.remarks-content .animate__fadeInLeft {
  animation-duration: 2s;
  padding: 1.5rem 0;
}

.anim p:nth-child(3) {
  line-height: 1.2rem;
}

.remarks-content .anim {
  line-height: 3rem;
}


/* Location */
.location {
  width: 100%;
}

.maps {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 2%;
}

.maps>h2 {
  padding: 10px;
}

#my-map-canvas img.text-marker {
  max-width: none !important;
  background: none !important;
  justify-content: center;
}

iframe {
  max-width: 100%;
}

/* Notes Content */
.notes-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.gift-content {
  width: 100%;
}

.gift-content h2 {
  padding: 2% 0;
  font-family: var(--heading-font);
}

.ex-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.in-content {
  border: 2px solid gray;
  padding: 0.5rem;
  border-radius: 10px;
}

.in-content span button {
  border: 2px solid gray;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-left: 5px;
}

/* .notes {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.notes h2 {
  text-align: center;
  padding: 2% 0;
}

.notes button {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
} */

/* Form Notes */
.form-notes {
  border: 2px solid gray;
  text-align: start;
  width: 100%;
  display: flex;
  padding: 5px;
  border-radius: 10px;
  flex-direction: column;
  gap: 0.2rem;
}

.form-notes input {
  border: 2px solid gray;
  padding: 5px;
  width: 100%;
  max-height: 300px;
  border-radius: 5px;
}

.form-notes textarea {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
}

/* Surah Content */
.surah-content {
  text-align: center;
  width: 100%;
  padding: 5px;
}

.surah-content p {
  padding: 5px;
}

/* Wedding Name */
.w-name {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
}

.w-name p {
  font-family: var(--styling-font-medium);
  padding: 5px;
  font-size: var(--text-medium);
  line-height: 2rem;
}

.w-name audio {
  border-radius: 5px;
}

/* Footer */
.footer {
  width: 100%;
  background: #2f2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.footer p {
  margin: 7px 0;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0;
  flex-wrap: wrap;
  text-align: center;
  max-height: 35px;
}

.social-icon-item,
.menu-item {
  list-style: none;
}

.social-icon-link {
  font-size: 2rem;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon-link img {
  max-width: 35px;
  max-height: 35px;
}
.social-icon-link:hover {
  transform: translateY(-10px);
}

.footer p {
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}
.footer ul {
  padding-left: 0;
}
/* Responsive Styles */
@media (max-width: 768px) {
  main {
    background-image: url("/assets/header-fix.png"), url("/assets/bg.png");
    background-repeat: no-repeat, repeat-y;
    background-position: top center, top left;
    background-size: 100% auto, contain;
    background-attachment: scroll, scroll;
  }

  .container {
    margin: auto 7%;
  }

  .top-w-name img {
    max-width: 80%;
  }

  .ex-content {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }

  .in-content span {
    padding-top: 10px;
    /* text-align: center; */
  }

  .container .row img {
    width: 300px;
    height: 310px;
    padding: 2% 0;
  }

  .notes-content {
    grid-template-columns: 1fr;
  }
}